<div class='scroll'>
	<div id="principal">
		<div id="apphead">
			<label id="titulo">Mantenedor Categorias</label>
		</div>

		<div id="precio">
			<div id="contenedor">
				<div id="datos-left">
					<div class="filtros-titulo">
						<label class="subtitulo">Filtro Categoria</label>
					</div>
					<p>
						<label class="etiquetas" style=" margin-top: -6px;">Ingrese Nueva Categoria</label>
						<div class="input-append">
 							<input type="text" id="autoc12" class="input-buscar" name="categoria" style="margin-bottom: 4px;
 							width: 35.6%;"/>
 							<div id="insertcategoria" class="add-on add-btn " style="margin-top: -4px !important;"title="Guardar Categoria"></div>
						</div>
					</p>
				</div>

				<div id="precio-rigth">
					<p style ="margin-left:25% !important; width:100%;">
						<label class="etiquetas">Categor&iacute;a</label>
						<select class="select-condiciones" id="categoria" name="mydropdown">
							<option value="vacio">Seleccione...</option>
							<%
							_.each(categorias,function(s)
							{ %>
								<option id = "<%=s.Id_Categoria%>" value="<%=s.Id_Categoria%>"><%=s.Nombre%>
								</option>
							<%});%>
						</select>
					</p>
					<p>
						<div id="filtrar" class="btn-filtrar" style="margin-right: 1.2%;"> </div>
					</p>
				</div>
			</div>
		</div>

		<div id  = "cargatablaresult">
			<div id = "resultados">
				<div id ="detalle-titulo">
					<div id="nuevoproducto" class="btn-add" title ="Nuevo <br> Producto"> 
					</div>
					<label id="titulo">Resultados</label>

					<select name="acciones" id="accionesProductos" class="accionlista">
						<option value="accion">Acciones</option>
					</select>
					<div class="paginador">
						<div id="next" class = "btn-adelante" title="Siguiente"> 
						</div>
						<div id="previous" class = "btn-atras" title="Anterior"> 
						</div>
						<label id= "labelPaginador" class= "contadorPaginador">
						</label>
					</div>
				</div>
			</div>
			<div class = "modal fade" id = "modal-estado">
			</div>
		</div>
		<div id = "cargatabla">
		</table>
		</div>
	</div>
</div>