<div id= "apphead">
	<label id= "titulo">Resultados</label>
</div>

<div class="div-resultado">
	<table id ="myTable" class = "tablageneral tablesorter" border="0" cellpadding="10">
		<thead>
			<tr>
				<th style="width: 12.5%;">Nº de Pedido</th>
				<th style="width: 12.5%;">Fecha</th>
				<th style="width: 12.5%;">Clase</th>
				<th style="width: 12.5%;">Usuario</th>
				<th style="width: 12.5%;">Acci&oacute;n</th>
			</tr>
		</thead>
		<tbody id = "tablaBodyListadoTracking">
		</tbody>
	</table>
</div>

