<div class='scroll'>
	<div id="principal">
		<div id="apphead">
			<label id="titulo" class="newTitulo">Mantenedor Destinatarios></label>  <label id = "subtitulo">Nuevo Destinatario</label>
		</div>

		<div id="datos" style="height: 198px !important;">
			<div id="contenedor">
				<div class="filtros-left">
					<p>
						<label class="etiquetas" style=" margin-top: -6px;">* Nombre Cliente</label>
						<div class="input-append">
 						<input type="text" id="autoc2" class="input-buscar" name="producto" style="margin-bottom: 4px;
 							width: 35.6%; "/>
 						<div id="buscarcliente" class="add-on add-btn buscar" style="margin-top: -4px !important;" title="Buscador de clientes"></div>
						</div>
					</p>
					<p>
						<label class="etiquetas">* Rut Cliente</label>
						<div class="input-append">
 							<input type="text" id="autoc3" class="input-buscar" name="cliente" style="margin-bottom: 4px;
 							width: 42%;" disabled/>
						</div>
					</p>
					<p>
						<label class="etiquetas">* N. Destinatario</label>
						<input type="text" class="input-text" id = "nombre" name="rut" value="">
					</p>
					<p>
						<label class="etiquetas">&nbsp;&nbsp; Tel&eacute;fono</label>
						<input id = "telefono"  type="text" class="input-text" name="rut" value="">
					</p>
					<p>
						<label class="etiquetas">* Direcci&oacute;n</label>
						<!-- <input type="text" class="input-text" id = "direccion" name="rut" value=""> -->
						<textarea type="text" class="input-text" style="height:48.3px !important; width: 42% !important;" name="instFabricacion" id="direccion"></textarea>
					</p>
				</div>

				<div class="editar-rigth">
					<p>
						<label class="etiquetas">* Regi&oacute;n</label>
						<select class="select-condiciones" id="regionselect" name="vendedor">
							<option value="">Seleccione...</option>
							<%
							_.each(regiones,function(s)
							{ %>
								<option id = "<%=s.REGION_ID%>" value="<%=s.REGION_ID%>"><%=s.REGION_NOMBRE%>
								</option>
							<%});%>
						</select>
					</p>
					<p>
						<label class="etiquetas">* Provincia</label>
						<select class="select-condiciones" id="provinciaselect" name="vendedor">
							<option value="">Seleccione...</option>
						</select>
					</p>
					<p>
						<label class="etiquetas">* Comuna</label>
						<select class="select-condiciones" id="comunaselect" name="vendedor">
							<option value="">Seleccione...</option>
						</select>
					</p>

					<p>
						<label class="etiquetas">* Sector</label>
						<input id = "sector"  type="text" class="input-text" name="rut" value="" disabled>
					</p>
					<p>
						<label class="etiquetas">* Villa-Poblaci&oacute;n-Loteo</label>
						<input id = "lugar"  type="text" class="input-text" name="rut" value="">
						<input type="hidden" name="lugardestinatario" id="idlugar"/>
					</p>
				</div>
			</div>
		</div>
		<div id="buttons row">
			Todos los campos marcados con un asterisco (*) son requeridos.
	        <div id="cancelardestinatario" type="button" class="btn-cancelar"></div>
	        <div id="guardardestinatario" type="button" class="btn-guardar"></div>
    	</div>
		<!--<div id="filtroResultados"></div>-->

	</div>
</div>