<div class='scroll'>
	<div id="principal">
		<div id="apphead">
			<label id="titulo">Listas de Precios</label>
		</div>

		<div id="precio">
			<div id="contenedor">
				<div id="datos-left">
					<div class="filtros-titulo">
						<label class="subtitulo">Filtro Listas</label>
					</div>
					<p>
						<label class="etiquetas" style=" margin-top: -6px;">Nombre Lista</label>
						<div class="input-append">
 							<input type="text" id="filtrolista" class="input-buscar" name="lista" style="margin-bottom: 4px;
 							width: 42%;"/>
						</div>
					</p>
				</div>

				<div id="precio-rigth">
					<p>
						<div id="filtrar" class="btn-filtrar" style="margin-right: 1.2%;" title='Filtrar'> </div>
					</p>
				</div>
			</div>
		</div>

		<div id  = "cargatablaresult">
			<div id = "resultados">
				<div id ="detalle-titulo">
					<div id="nuevalista" class="btn-add" title ="Nueva <br> Lista"> 
					</div>
					<label id="titulo">Resultados</label>
					<select name="acciones" id="accionesListas" class="accionlista" style="margin-left: 0px;">
						<option value="accion">Acciones</option>
					</select>
					<div class="paginador">
						<div id="next" class = "btn-adelante" title="Siguiente"> 
						</div>
						<div id="previous" class = "btn-atras" title="Anterior"> 
						</div>
						<label id= "labelPaginador" class= "contadorPaginador">
						</label>
					</div>
				</div>
			</div>
			<div class = "modal fade" id = "modal-estado">
			</div>
		</div>
		<div id = "cargatabla">
		</table>
		</div>
	</div>
</div>