<div class="principal-login">
	<div class="principal-left">
		<div class="principal-logo"> </div>
	</div>
	<div class="principal-right">
		<div class="principal-contenedor">
			<label class="principal-titulo">bienvenido.</label>
			<div style="margin-top:20px;">
				<p>
					<label class="principal-etiquetas">Usuario</label>
					<input id="user" type="text" class="input-text" name="usuario" style="width:190px !important;"/>
				</p>
				<p>
					<label class="principal-etiquetas">Contraseña</label>
					<input id="pass" type="password" class="input-text" name="contraseña" style="width:190px !important;"/>
				</p>
				<div id="btnlogin" class="principal-button"></div>
			</div>
		</div>
	</div>
</div>