<div class='scroll'>
	<div id="principal">
		<div id="apphead">
			<label id="titulo" class="newTitulo">Mantenedor Repartidores</label>
		</div>

		<div id="datos" style="height: 301px !important;">
			<div id="contenedor">
				<div class="filtros-left" id="divcalendario">		
				</div>

				<div class="editar-rigth">
					<p>
						<label class="etiquetas">* Cantidad <BR> &nbsp;&nbsp; Repartidores</label>
						<input id = "cantidadrepartidores" type="text" class="input-text" name="cantidadrepartidores" value="" maxlength="4">
					</p>
				</div>
			</div>
		</div>
		<div id="buttons row">
			Todos los campos marcados con un asterisco (*) son requeridos.
        	<div id="guardarrepartidor" type="button" class="btn-guardar"></div>
    	</div>
		<!--<div id="filtroResultados"></div>-->

	</div>
</div>