<div id = "modalestado" class="contenedorModal">
    <label class="cliente-titulo">Elegir Estado</label>
    <div class="input-append input-cliente">
    </div>
        
    
    <div class="cont">
        <table class="tabla-contenedor">
            <tr>
                <td>
                    <table class="tabla-head">
                        <tr>
                            <td class="td-radio"></td>
                            <td class="td-nombre">Estado</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="11" style="border-bottom: 1px #5f5f5f solid;"> </td>
            </tr>
            <tr>
                <td>
                    <div class="">
                        <form name="formu">
                            <table class="tabla-datos">
                                <tr>
                                    <td  class="td-radio"><input id = "nueva" type="radio" name="tabla" value="Activa"></td>
                                    <td id = "activa" class="td-nombre">Activa</td>
                                </tr>
                                <tr>
                                    <td colspan="11" style="border-bottom: 1px #5f5f5f solid;"> </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
         <div id="buttons row" style="float:right;margin-top: 10px;">
        <div id="cancelarestado" type="button" class="btn-cancelar" data-dismiss="modal"></div>
        <div id="guardarestado" type="button" class="btn-guardar"></div>
    </div>
</div>