<div class="contenedorModal">
	<label class="cliente-titulo">Elegir Lista de Precios</label>
	<div class="subtitulo-precios">
		<label id="subtituloModalListaPrecio" class="cliente-subtitulo"></label>
	</div>
	
	<div class="cliente-contenedor" style="height: 110px;">
		<table class="tabla-contenedor">
			<tr>
				<td>
					<table class="tabla-head">
			 			<tr>
			 				<td class="td-radio"></td>
			 				<td class="td-lista">Nombre</td>
			 				<td class="td-precio">Precio</td>
			 				<td class="td-tipo">Tipo</td>
			 				<td>Subgerencia</td>
			 			</tr>
			 		</table>
				</td>
			</tr>
			<tr>
				<td colspan="11" style="border-bottom: 1px #5f5f5f solid;"> </td>
			</tr>
			<tr>
				<td>
					<div class="div-datos" style="height: 85px !important;">
						<table id="tablaModalListaPrecio" class="tabla-datos">
			 				<tbody>
			 				</tbody>
			 			</table>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="11" style="border-bottom: 1px #5f5f5f solid;"> </td>
			</tr>
		</table>
	</div>
	<div style="margin-top: 27px;">
		<div id="listaCancelar" type="button" class="btn-cancelar" data-dismiss="modal"></div>
		<div id="btnAceptarModalListaPrecio" type="button" class="btn-aceptar"></div>
	</div>
</div>