<div class="contenedorModal">
	<label id="tituloCliente" class="cliente-titulo"></label>
	<div class="input-append input-cliente">
 		<input id="inputModalBuscarCliente" type="text" class="input-buscar" name="buscar"/>
  		<div id="btnModalBuscarCliente" class="add-on add-btn buscar"></div>
	</div>
		
	<div class="cliente-contenedor">
		<table class="tabla-contenedor">
			<tr>
				<td>
					<table class="tabla-head">
			 			<tr>
			 				<td class="td-radio"></td>
			 				<td id="Head1" class="td-nombre"></td>
			 				<td id="Head2"></td>
			 			</tr>
			 		</table>
				</td>
			</tr>
			<tr>
				<td colspan="11" style="border-bottom: 1px #5f5f5f solid;"> </td>
			</tr>
			<tr>
				<td>
					<div class="div-datos" style="width: 102%;">
						<table id="tablaModalMostrarClientes" class="tabla-datos">
							<tbody>
							</tbody>
			 			</table>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="11" style="border-bottom: 1px #5f5f5f solid;"> </td>
			</tr>
		</table>
	</div>
	<div style="margin-top: -21px;">
		<div id="clienteCancelar" type="button" class="btn-cancelar" data-dismiss="modal"></div>
		<div id="btnModalclienteAceptar" type="button" class="btn-aceptar"></div>
	</div>
</div>