<div class="over-cerrar"></div>
<div class="contenedorOver">
	<div class="over-contenedor">
		<table class="tabla-contenedor">
			<tr>
				<td>
					<table class="tabla-head">
			 			<tr>
			 				<td class="td-cot">Nº de Cot.</td>
			 				<td class="td-fech">Fecha</td>
			 				<td class="td-neto">Valor Neto</td>
			 				<td class="td-flete">Valor Flete</td>
			 				<td>Valor Total</td>
			 			</tr>
			 		</table>
				</td>
			</tr>
			<tr>
				<td colspan="11" style="border-bottom: 1px #5f5f5f solid;"> </td>
			</tr>
			<tr>
				<td>
					<div class="over-datos">
						<table id='myTableEdicion' class="tablageneral tabla-over tablesorter">
							<thead>
								<tr>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
				 			</tbody>
			 			</table>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="11" style="border-bottom: 1px #5f5f5f solid;"> </td>
			</tr>
		</table>
	</div>
</div>