<div class="contenedorModal">
	<label class="mensaje-titulo">Enviar mensaje a un supervisor</label>

	<div class="mensaje-contenedor">
		<p>
			<label class="etiquetas">Asunto</label>
			<input id="mailAsunto" type="text" class="input-asunto" name="asunto"/>
		</p>
		<p>
			<label class="etiquetas">Mensaje</label>
			<textarea id="mailMensaje" type="text" class="input-mensaje" name="mensaje"></textarea>
		</p>
	</div>
	<div class="buttons-mensaje">
		<div id="mailCancelar" type="button" class="btn-cancelar" data-dismiss="modal"></div>
		<div id="mailGuardar" type="button" class="btn-guardar"></div>
	</div>
</div>