<div class="contenedorModal">
	<label id="tituloCliente" class="cliente-titulo">Motivos de Anulaci&oacute;n</label>
	<div class="cliente-contenedor" style="height: 284px !important;">
		<table class="tabla-contenedor">
			<tr>
				<td>
					<table class="tabla-head">
			 			<tr>
			 				<td class="td-radio"></td>
			 				<td id="Head1" class="td-nombre"></td>
			 			</tr>
			 		</table>
				</td>
			</tr>
			<tr>
				<td colspan="11" style="border-bottom: 1px #5f5f5f solid;"> </td>
			</tr>
			<tr>
				<td>
					<div class="div-datos" style="height: 220px !important;">
						<table id="tablaModalMostrarOpciones" class="tabla-datos">
							<tbody>
							</tbody>
			 			</table>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="11" style="border-bottom: 1px #5f5f5f solid;"> </td>
			</tr>
		</table>
	</div>
	<div style="margin-top: -21px;">
		<p style="margin-bottom: 0px !important;">
			<label class="etiquetas">Otro Motivo</label>
			<textarea type="text" class="input-text" style="height:100px !important; width: 67.5% !important; margin-bottom: 32px !important;" name="instFabricacion" id="comentarios" maxlength="500" ></textarea>
		</p>
	</div>
	<div style="margin-top: -21px;">
		Debe seleccionar una opción o ingresar otro motivo
		<div id="btnMotivoAceptar" type="button" class="btn-aceptar"></div>
	</div>
</div>