<div id= "apphead">
	<label id= "titulo">Resultados</label>
	<select id="acciones" class="acciones" name="acciones">
	</select>
	<div class="paginador">
		<div id="next" class = "btn-adelante" title="Siguiente"> </div>
		<div id="previous" class = "btn-atras" title="Anterior"> </div>
		<label id= "labelPaginador" class= "contadorPaginador"></label>
	</div>
</div>

<div class="div-resultado">
	<table id ="myTable" class = "tablageneral tablesorter" border="0" cellpadding="10">
		<thead>
			<tr>
				<th style="width: 4.7%;"></th>
				<th style="width: 10.5%;">Nº de Pedido</th>
				<th style="width: 10.5%;">Fecha-Hora Despacho</th>
				<th style="width: 10.5%;">Clase</th>
				<th style="width: 11.3%;">Destinatario</th>
				<th style="width: 10.5%;">Vendedor</th>
				<th style="width: 10.5%;">Cliente</th>
				<th style="width: 10.5%;">Valor Total</th>
			</tr>
		</thead>
		<tbody id = "tablaBodyListado">
		</tbody>
	</table>
</div>