<div class="contenedorModal">
	<label class="cliente-titulo">Entrega de Items</label>

	<div class="subtitulo-precios">
		<label id="subtituloModalEntregar" class="cliente-subtitulo"></label>
	</div>
	
	<div class="cliente-contenedor" style="height: 110px;">
		<table class="tabla-contenedor">
			<tr>
				<td>
					<table class="tabla-head">
			 			<tr>
			 				<td align="left" style="width:64px;">N&uacute;mero</td>
			 				<td align="left" style="width:84px;"></td>
			 				<td align="left" style="width:84px;">Fecha</td>
			 				<td align="left" style="width:84px;"></td>
			 				<td align="left" style="width:104px;"></td>
			 				<td align="left" style="width:84px;">Valor</td>
			 				<td align="left" style="width:84px;">Cantidad</td>
			 				<td align="left" style="width:84px;">Cantidad</td>
			 				<td align="left" style="width:84px;">Cantidad</td>
			 				<td align="left" style="width:84px;">Cantidad x</td>
			 				<td align="left" >Cantidad a</td>
			 			</tr>
			 			<tr>
			 				<td align="left" style="width:64px;">Item</td>
			 				<td align="left" style="width:84px;">Clase</td>
			 				<td align="left" style="width:84px;">Necesidad</td>
			 				<td align="left" style="width:84px;">Producto</td>
			 				<td align="left" style="width:104px;">Artículo</td>
			 				<td align="left" style="width:84px;">Total</td>
			 				<td align="left" style="width:84px;">Total</td>
			 				<td align="left" style="width:84px;">Despachada</td>
			 				<td align="left" style="width:84px;">Entregada</td>
			 				<td align="left" >Entregar</td>
			 				<td align="left" >Entregar</td>
			 			</tr>
			 		</table>
				</td>
			</tr>
			<tr>
				<td colspan="11" style="border-bottom: 1px #5f5f5f solid;"> </td>
			</tr>
			<tr>
				<td>
					<div class="div-datos" style="height: 192px !important;">
						<table id="tablaModalEntrega" class="tabla-datos">
			 				<tbody>
			 				</tbody>
			 			</table>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="11" style="border-bottom: 1px #5f5f5f solid;"> </td>
			</tr>
		</table>
	</div>
	<div style="margin-top: 156px;">
		<div id="CancelarVendedor" type="button" class="btn-cancelar" data-dismiss="modal"></div>
		<div id="btnGuardarEntregaItems" type="button" class="btn-guardar"></div>
	</div>
</div>